In [1]:
def check_NA(response):
    apologetic_flag = True if 'sorry' in response or 'does not have the necessary detail' in response or 'cannot accurately identify' in response or 'Sorry' in response or "can't provide" in response or "cannot provide" in response or "does not provide" in response or "cannot assist" in response or "not possible" in response or "unable" in response or 'unknown' in response or 'not clear' in response or 'not determined' in response or 'not known' in response or 'not provided' in response or 'not mentioned' in response or 'not given' in response or 'not specified' in response or 'may not be visible' in response or 'not visible' in response or 'unfortunately' in response or 'not clearly visible' in response else False
    return apologetic_flag

def remove_verbose(response, organism='fish'):
    response = response.replace('The answer is: ', '')
    response = response.replace(f'The {organism} in the image is a ', '')
    response = response.replace(f'The {organism} in the image is called', '')
    response = response.replace(f'The {organism} in the photo is a', '')
    response = response.replace(f'The species and scientific name of the {organism} in the image are', '')
    response = response.replace(f'The species in the image is', '')
    response = response.replace(f'The species of the {organism} in the image is', '')
    response = response.replace(f'The scientific name of the {organism} in the image is', '') 
    response = response.replace(f'The species of the {organism} in the picture is', '')
    response = response.replace(f'The species of the {organism} in the photo is', '')
    response = response.replace(f'The species of the {organism} in this picture is','')
    response = response.replace(f'The {organism} in the photo is called', '')
    return response.strip()




def classification_eval_selection(data, model_name, organism='fish', task_type='direct'):
    out_dict = {
        'Model': model_name,
        'Question-type': task_type,
        'correct_count': 0,
        'correct_ge_count' : 0, # only genus correct, partial
        'NA_count' : 0,
        'incorrect_count': 0,
    }
    
    for data_idx in range(len(data)):
        data_item = data[data_idx]
        
        gt_sci_name = data_item['target-class']
        if gt_sci_name != gt_sci_name:
            continue
        gt_genus = gt_sci_name.split(' ')[0]

        if len(gt_sci_name) == 2:
            gt_species = gt_sci_name.split(' ')[1]

        response = data_item['output']
    
        response = remove_verbose(response, organism=organism)

        gt_option = data_item['option-gt']
        
        # print(f'Ground-truth:{gt_option}', response)

        if len(response)==1:
            if gt_option.lower() == response.lower():
                out_dict['correct_count'] += 1
            else:
                out_dict['incorrect_count'] += 1
            continue

        elif response.lower() in ['a)', 'b)', 'c)', 'd)']:
            if gt_option.lower() == response.lower()[0]:
                out_dict['correct_count'] += 1
            else:
                out_dict['incorrect_count'] += 1
            continue
                
        # correct
        if gt_sci_name.lower() in response.lower():
            out_dict['correct_count'] += 1
            continue

        # partial, correct genus only
#         if gt_genus.lower() in response.lower():
#             out_dict['correct_ge_count'] += 1
#             continue

        if check_NA(response.lower()):
            out_dict['NA_count'] += 1
            continue

        out_dict['incorrect_count'] += 1

    total = out_dict['correct_count'] + out_dict['correct_ge_count'] + out_dict['NA_count'] + out_dict['incorrect_count']


    percnt_out_dict = {
        'Model': model_name,
        'Question-type': task_type,
        'correct_count': out_dict['correct_count']*100/total if total!=0 else 0,
        'correct_ge_count' : out_dict['correct_ge_count']*100/total if total!=0 else 0,
        'NA_count' : out_dict['NA_count']*100/total if total!=0 else 0,
        'incorrect_count': out_dict['incorrect_count']*100/total if total!=0 else 0,
    }
    print(f'Evaluation completed for {model_name}.')

    return out_dict, percnt_out_dict

In [2]:
def write_evaluation(dataset, task_type, task, organism, start_dir, model_list = None):

    model_list = MODEL_NAMES if model_list == None else model_list
    
    for model_name in model_list:
        datalist = []
        
        for chunkid in range(10):
            if organism == 'fish':
                some_value = 20
            elif organism == 'bird':
                some_value = 20
            elif organism == 'butterfly':
                some_value = 20
                
            RESULT_FILE_TEMPT = f'{start_dir}/{dataset}/{task}/{task_type}/{task}_{model_name}_{task_type}_num_{some_value}_chunk_{chunkid}.jsonl'
            datalist+=read_file(RESULT_FILE_TEMPT)
    
        print(f'Starting Evaluations for model {model_name} on {len(datalist)} results.')
    
        if task_type == 'direct':
            _, percent_result_dict = classification_eval_direct(data=datalist, model_name=model_name, task_type=task_type, organism=organism)
        elif task_type == 'selection':
            _, percent_result_dict = classification_eval_selection(data=datalist, model_name=model_name, task_type=task_type, organism=organism)

        
        writer = jsonlines.open(f'./tables/classification_{dataset}_{task_type}_{organism}.jsonl', mode='a')
        writer.write(percent_result_dict)
        writer.close()

In [3]:
import os
import json
import jsonlines

def read_file(filepath):
    if os.path.exists(filepath) == False:
        print(f'{filepath} not found.')
        return []

    datalist = []

    with open(filepath, "r", encoding='utf-8') as fh:
        for line in fh.readlines():
            if line:
                try: # if the response writing creates any issue, this try-catch will handle it.
                    dict_ = json.loads(line) 
                except:
                    continue
                datalist.append(dict_)

    return datalist

In [4]:
MODEL_NAMES = ['gpt-4v',
               'gpt-4o',
               'llava-v1.5-7b',
               'llava-v1.5-13b',
               'cogvlm-chat',
               'blip-flan-xl',
               'blip-flan-xxl',
               'minigpt4-vicuna-7B',
               'minigpt4-vicuna-13B',
               'instruct-flant5xl',
               'instruct-flant5xxl',
               'instruct-vicuna7b',
               'instruct-vicuna13b']

DATASETS = ['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
RESULT_DIRS = ['/projects/ml4science/VLM4Bio/']
EVAL_TYPE = ['easy_medium_hard_results']
TASK_TYPE= ['direct', 'selection']
start_dir = os.path.join(RESULT_DIRS[0], EVAL_TYPE[0])

## Fish

In [5]:
task = 'classification'

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'fish-easy'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'fish-medium'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

Writing evalutations for fish-easy dataset and classification task and fish organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
Starting Evaluations for model minigpt4-vicuna-7B on 200 results.
Evaluation completed for minigpt4-vicuna-7B.
Starting Evaluations for model minigpt4-vicuna-13B on 200 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.
Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
Starting Evaluations for model instruct-vicuna13b on 200 results.
Evaluation completed for instruct-vicuna13b.
Writing evalutations for fish-medium dataset and classification task and fish organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
Starting Evaluations for model minigpt4-vicuna-7B on 200 results.
Evaluation completed for minigpt4-vicuna-7B.
Starting Evaluations for model minigpt4-vicuna-13B on 200 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.
Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
Starting Evaluations for model instruct-vicuna13b on 200 results.
Evaluation completed for instruct-vicuna13b.

## Bird

In [6]:
task = 'classification'

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'bird-easy'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'bird-medium'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

Writing evalutations for bird-easy dataset and classification task and bird organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-7B on 0 results.
Evaluation completed for minigpt4-vicuna-7B.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-13B on 0 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.
Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-easy/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-vicuna13b on 0 results.
Evaluation completed for instruct-vicuna13b.
Writing evalutations for bird-medium dataset and classification task and bird organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-7B on 0 results.
Evaluation completed for minigpt4-vicuna-7B.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-13B on 0 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.

Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/bird-medium/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-vicuna13b on 0 results.
Evaluation completed for instruct-vicuna13b.

## Butterfly

In [7]:
task = 'classification'

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'butterfly-easy'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'butterfly-medium'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

#['fish-easy', 'fish-medium', 'bird-easy', 'bird-medium', 'butterfly-easy', 'butterfly-medium', 'butterfly-hard']
dataset = 'butterfly-hard'

organism = None 
if 'fish' in dataset:
    organism = 'fish'
elif 'bird' in dataset:
    organism = 'bird'
elif 'butterfly' in dataset:
    organism = 'butterfly'

print(f'Writing evalutations for {dataset} dataset and {task} task and {organism} organism')

task_type = TASK_TYPE[1] # 0: direct, 1: selection
write_evaluation(dataset=dataset, task_type=task_type, task=task, start_dir=start_dir, organism=organism)

Writing evalutations for butterfly-easy dataset and classification task and butterfly organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
Starting Evaluations for model minigpt4-vicuna-7B on 200 results.
Evaluation completed for minigpt4-vicuna-7B.
Starting Evaluations for model minigpt4-vicuna-13B on 200 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.
Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
Starting Evaluations for model instruct-vicuna13b on 200 results.
Evaluation completed for instruct-vicuna13b.
Writing evalutations for butterfly-medium dataset and classification task and butterfly organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
Starting Evaluations for model blip-flan-xxl on 200 results.
Evaluation completed for blip-flan-xxl.
Starting Evaluations for model minigpt4-vicuna-7B on 200 results.
Evaluation completed for minigpt4-vicuna-7B.
Starting Evaluations for model minigpt4-vicuna-13B on 200 results.
Evaluation completed for minigpt4-vicuna-13B.
Starting Evaluations for model instruct-flant5xl on 200 results.
Evaluation completed for instruct-flant5xl.
Starting Evaluations for model instruct-flant5xxl on 200 results.
Evaluation completed for instruct-flant5xxl.
Starting Evaluations for model instruct-vicuna7b on 200 results.
Evaluation completed for instruct-vicuna7b.
Starting Evaluations for model instruct-vicuna13b on 200 results.
Evaluation completed for instruct-vicuna13b.
Writing evalutations for butterfly-hard dataset and classification task and butterfly organism
Starting Evaluations for model gpt-4v on 200 results.
Evaluation completed for gpt-4v.
Starting Evaluations for model gpt-4o on 200 results.
Evaluation completed for gpt-4o.
Starting Evaluations for model llava-v1.5-7b on 200 results.
Evaluation completed for llava-v1.5-7b.
Starting Evaluations for model llava-v1.5-13b on 200 results.
Evaluation completed for llava-v1.5-13b.
Starting Evaluations for model cogvlm-chat on 200 results.
Evaluation completed for cogvlm-chat.
Starting Evaluations for model blip-flan-xl on 200 results.
Evaluation completed for blip-flan-xl.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_blip-flan-xxl_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model blip-flan-xxl on 60 results.
Evaluation completed for blip-flan-xxl.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-7B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-7B on 0 results.
Evaluation completed for minigpt4-vicuna-7B.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_minigpt4-vicuna-13B_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model minigpt4-vicuna-13B on 0 results.
Evaluation completed for minigpt4-vicuna-13B.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xl_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-flant5xl on 0 results.
Evaluation completed for instruct-flant5xl.

/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-flant5xxl_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-flant5xxl on 0 results.
Evaluation completed for instruct-flant5xxl.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna7b_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-vicuna7b on 0 results.
Evaluation completed for instruct-vicuna7b.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_0.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_1.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_2.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_3.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_4.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_5.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_6.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_7.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_8.jsonl not found.
/projects/ml4science/VLM4Bio/easy_medium_hard_results/butterfly-hard/classification/selection/classification_instruct-vicuna13b_selection_num_20_chunk_9.jsonl not found.
Starting Evaluations for model instruct-vicuna13b on 0 results.
Evaluation completed for instruct-vicuna13b.

In [12]:
import pandas as pd
import json

PROMPT_MODELS = ['gpt-4v', 'llava-v1.5-7b', 'llava-v1.5-13b', 'cogvlm-chat', 'blip-flan-xl', 'blip-flan-xxl']
MODEL_NAMES = ['gpt-4v',
               'gpt-4o',
               'llava-v1.5-7b',
               'llava-v1.5-13b',
               'cogvlm-chat',
               'blip-flan-xl',
               'blip-flan-xxl',
               'minigpt4-vicuna-7B',
               'minigpt4-vicuna-13B',
               'instruct-flant5xl',
               'instruct-flant5xxl',
               'instruct-vicuna7b',
               'instruct-vicuna13b']
# PROMPT_MODELS = MODEL_NAMES

def classification_tables(filename, model_lists=MODEL_NAMES, full_display=False):

    # Initialize empty lists to store data
    model_list = []
    question_type_list = []
    correct_count_list = []
    correct_ge_count_list = []
    na_count_list = []
    incorrect_count_list = []
    
    # Read the JSON lines file line by line
    with open(filename, 'r') as file:
        for line in file:
            data = json.loads(line)
            if data['Model'] not in model_lists:
                continue
            model_list.append(data['Model'])
            question_type_list.append(data['Question-type'])
            correct_count_list.append('{:.2f}'.format(data['correct_count']))
            correct_ge_count_list.append('{:.2f}'.format(data['correct_ge_count']))
            na_count_list.append('{:.2f}'.format(data['NA_count']))
            incorrect_count_list.append('{:.2f}'.format(data['incorrect_count']))
    
    # Create a DataFrame
    df = pd.DataFrame({
        'Models': model_list,
        'Question-type': question_type_list,
        'correct_count': correct_count_list,
        'correct_ge_count': correct_ge_count_list,
        'NA_count': na_count_list,
        'incorrect_count': incorrect_count_list
    })
    
    # Display the DataFrame
    if full_display==False:
        display(df)

    return df[['correct_count']]

In [13]:
print("\t\t\t\t\t###### Fish Easy ######")
df_eval = classification_tables('./tables/classification_fish-easy_selection_fish.jsonl', model_lists=MODEL_NAMES)
display(df_eval)
print("\t\t\t\t\t###### Fish Medium ######")
df_eval = classification_tables('./tables/classification_fish-medium_selection_fish.jsonl', model_lists=MODEL_NAMES)
display(df_eval)

					###### Fish Easy ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,44.50,0.00,39.00,16.50
1,gpt-4o,selection,37.50,0.00,42.50,20.00
2,llava-v1.5-7b,selection,47.50,0.00,0.00,52.50
3,llava-v1.5-13b,selection,46.00,0.00,0.00,54.00
4,cogvlm-chat,selection,24.00,0.00,0.00,76.00
5,blip-flan-xl,selection,34.00,0.00,0.00,66.00
6,blip-flan-xxl,selection,27.50,0.00,0.00,72.50
7,minigpt4-vicuna-7B,selection,29.00,0.00,1.00,70.00
8,minigpt4-vicuna-13B,selection,19.50,0.00,0.00,80.50
9,instruct-flant5xl,selection,32.00,0.00,0.00,68.00
10,instruct-flant5xxl,selection,28.00,0.00,0.00,72.00
11,instruct-vicuna7b,selection,33.50,0.00,0.00,66.50
12,instruct-vicuna13b,selection,33.50,0.00,0.00,66.50

   correct_count
0          44.50
1          37.50
2          47.50
3          46.00
4          24.00
5          34.00
6          27.50
7          29.00
8          19.50
9          32.00
10         28.00
11         33.50
12         33.50

					###### Fish Medium ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,3.50,0.00,86.00,10.50
1,gpt-4o,selection,5.50,0.00,82.00,12.50
2,llava-v1.5-7b,selection,30.00,0.00,0.00,70.00
3,llava-v1.5-13b,selection,28.50,0.00,0.00,71.50
4,cogvlm-chat,selection,27.00,0.00,0.00,73.00
5,blip-flan-xl,selection,26.00,0.00,0.00,74.00
6,blip-flan-xxl,selection,23.00,0.00,0.00,77.00
7,minigpt4-vicuna-7B,selection,26.50,0.00,4.00,69.50
8,minigpt4-vicuna-13B,selection,25.00,0.00,1.50,73.50
9,instruct-flant5xl,selection,28.50,0.00,0.00,71.50
10,instruct-flant5xxl,selection,24.50,0.00,0.00,75.50
11,instruct-vicuna7b,selection,26.00,0.00,0.00,74.00
12,instruct-vicuna13b,selection,25.50,0.00,0.00,74.50

   correct_count
0           3.50
1           5.50
2          30.00
3          28.50
4          27.00
5          26.00
6          23.00
7          26.50
8          25.00
9          28.50
10         24.50
11         26.00
12         25.50

In [14]:
print("\t\t\t\t\t###### Bird Easy ######")
df_eval = classification_tables('./tables/classification_bird-easy_selection_bird.jsonl', model_lists=MODEL_NAMES)
display(df_eval)
print("\t\t\t\t\t###### Bird Medium ######")
df_eval = classification_tables('./tables/classification_bird-medium_selection_bird.jsonl', model_lists=MODEL_NAMES)
display(df_eval)

					###### Bird Easy ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,73.50,0.00,16.50,10.00
1,gpt-4o,selection,68.00,0.00,20.50,11.50
2,llava-v1.5-7b,selection,53.50,0.00,0.00,46.50
3,llava-v1.5-13b,selection,50.00,0.00,0.00,50.00
4,cogvlm-chat,selection,38.50,0.00,0.00,61.50
5,blip-flan-xl,selection,34.50,0.00,0.00,65.50
6,blip-flan-xxl,selection,36.00,0.00,0.00,64.00
7,minigpt4-vicuna-7B,selection,0.00,0.00,0.00,0.00
8,minigpt4-vicuna-13B,selection,0.00,0.00,0.00,0.00
9,instruct-flant5xl,selection,41.00,0.00,0.00,59.00
10,instruct-flant5xxl,selection,33.00,0.00,0.00,67.00
11,instruct-vicuna7b,selection,43.50,0.00,0.00,56.50
12,instruct-vicuna13b,selection,0.00,0.00,0.00,0.00

   correct_count
0          73.50
1          68.00
2          53.50
3          50.00
4          38.50
5          34.50
6          36.00
7           0.00
8           0.00
9          41.00
10         33.00
11         43.50
12          0.00

					###### Bird Medium ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,41.00,0.00,42.50,16.50
1,gpt-4o,selection,40.50,0.00,40.00,19.50
2,llava-v1.5-7b,selection,30.50,0.00,0.00,69.50
3,llava-v1.5-13b,selection,37.00,0.00,0.00,63.00
4,cogvlm-chat,selection,30.00,0.00,0.00,70.00
5,blip-flan-xl,selection,25.50,0.00,0.00,74.50
6,blip-flan-xxl,selection,21.00,0.00,0.00,79.00
7,minigpt4-vicuna-7B,selection,0.00,0.00,0.00,0.00
8,minigpt4-vicuna-13B,selection,0.00,0.00,0.00,0.00
9,instruct-flant5xl,selection,27.00,0.00,0.00,73.00
10,instruct-flant5xxl,selection,27.00,0.00,0.00,73.00
11,instruct-vicuna7b,selection,24.50,0.00,0.00,75.50
12,instruct-vicuna13b,selection,0.00,0.00,0.00,0.00

   correct_count
0          41.00
1          40.50
2          30.50
3          37.00
4          30.00
5          25.50
6          21.00
7           0.00
8           0.00
9          27.00
10         27.00
11         24.50
12          0.00

In [15]:
print("\t\t\t\t\t###### Butterfly Easy ######")
df_eval = classification_tables('./tables/classification_butterfly-easy_selection_butterfly.jsonl', model_lists=MODEL_NAMES)
display(df_eval)
print("\t\t\t\t\t###### Butterfly Medium ######")
df_eval = classification_tables('./tables/classification_butterfly-medium_selection_butterfly.jsonl', model_lists=MODEL_NAMES)
display(df_eval)
print("\t\t\t\t\t###### Butterfly Hard ######")
df_eval = classification_tables('./tables/classification_butterfly-hard_selection_butterfly.jsonl', model_lists=MODEL_NAMES)
display(df_eval)

					###### Butterfly Easy ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,18.50,0.00,62.00,19.50
1,gpt-4o,selection,17.50,0.00,61.50,21.00
2,llava-v1.5-7b,selection,19.00,0.00,0.00,81.00
3,llava-v1.5-13b,selection,20.50,0.00,0.00,79.50
4,cogvlm-chat,selection,24.50,0.00,0.00,75.50
5,blip-flan-xl,selection,30.00,0.00,0.00,70.00
6,blip-flan-xxl,selection,25.00,0.00,0.00,75.00
7,minigpt4-vicuna-7B,selection,34.50,0.00,0.50,65.00
8,minigpt4-vicuna-13B,selection,26.00,0.00,1.00,73.00
9,instruct-flant5xl,selection,24.50,0.00,0.00,75.50
10,instruct-flant5xxl,selection,22.50,0.00,0.00,77.50
11,instruct-vicuna7b,selection,19.00,0.00,0.00,81.00
12,instruct-vicuna13b,selection,24.50,0.00,0.00,75.50

   correct_count
0          18.50
1          17.50
2          19.00
3          20.50
4          24.50
5          30.00
6          25.00
7          34.50
8          26.00
9          24.50
10         22.50
11         19.00
12         24.50

					###### Butterfly Medium ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,5.50,0.00,81.00,13.50
1,gpt-4o,selection,7.00,0.00,77.50,15.50
2,llava-v1.5-7b,selection,29.50,0.00,0.00,70.50
3,llava-v1.5-13b,selection,29.00,0.00,0.00,71.00
4,cogvlm-chat,selection,29.50,0.00,0.00,70.50
5,blip-flan-xl,selection,20.00,0.00,0.00,80.00
6,blip-flan-xxl,selection,25.50,0.00,0.00,74.50
7,minigpt4-vicuna-7B,selection,33.00,0.00,1.50,65.50
8,minigpt4-vicuna-13B,selection,25.00,0.00,0.50,74.50
9,instruct-flant5xl,selection,27.50,0.00,0.00,72.50
10,instruct-flant5xxl,selection,25.00,0.00,0.00,75.00
11,instruct-vicuna7b,selection,25.00,0.00,0.00,75.00
12,instruct-vicuna13b,selection,25.00,0.00,0.00,75.00

   correct_count
0           5.50
1           7.00
2          29.50
3          29.00
4          29.50
5          20.00
6          25.50
7          33.00
8          25.00
9          27.50
10         25.00
11         25.00
12         25.00

					###### Butterfly Hard ######

,Models,Question-type,correct_count,correct_ge_count,NA_count,incorrect_count
0,gpt-4v,selection,2.00,0.00,93.50,4.50
1,gpt-4o,selection,1.50,0.00,93.00,5.50
2,llava-v1.5-7b,selection,22.00,0.00,0.00,78.00
3,llava-v1.5-13b,selection,21.00,0.00,0.00,79.00
4,cogvlm-chat,selection,32.00,0.00,0.00,68.00
5,blip-flan-xl,selection,26.50,0.00,0.00,73.50
6,blip-flan-xxl,selection,23.33,0.00,0.00,76.67
7,minigpt4-vicuna-7B,selection,0.00,0.00,0.00,0.00
8,minigpt4-vicuna-13B,selection,0.00,0.00,0.00,0.00
9,instruct-flant5xl,selection,0.00,0.00,0.00,0.00
10,instruct-flant5xxl,selection,0.00,0.00,0.00,0.00
11,instruct-vicuna7b,selection,0.00,0.00,0.00,0.00
12,instruct-vicuna13b,selection,0.00,0.00,0.00,0.00

   correct_count
0           2.00
1           1.50
2          22.00
3          21.00
4          32.00
5          26.50
6          23.33
7           0.00
8           0.00
9           0.00
10          0.00
11          0.00
12          0.00